
.swiper-pagination-header .swiper-pagination-bullet:nth-child(1) {
  background: rgb(var(--red));
}

.swiper-pagination-header .swiper-pagination-bullet:nth-child(2) {
  background: rgb(var(--main-yellow));
}

.swiper-pagination-header .swiper-pagination-bullet:nth-child(3) {
  background: #1B8C26;
}