/* Blue effect for all images with lazy load atributte */
.pulse {
  animation: blurEffect 2.5s ease-in infinite;
}

@keyframes blurEffect {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

/* ### HEADER VIDEO ###### */

.swiperHeader {
  width: 100% !important;
  height: 100%;
}

.swiper-slide-header {
  background-position: center;
  background-size: cover;
}

.swiper-slide-header img {
  width: 100%;
  max-height: 370px;
  aspect-ratio: 1/1;
  object-fit: fill;
  object-position: center;
}

.swiper-pagination-header .swiper-pagination-bullet {
  border-radius: 0;
  width: 15%;
  height: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 0.4;
}

.swiper-pagination-header .swiper-pagination-bullet:nth-child(2n + 1) {
  background: rgb(var(--red));
}

.swiper-pagination-header .swiper-pagination-bullet:nth-child(2n + 2) {
  background: rgb(var(--main-yellow));
}

.swiper-pagination-header .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev-header,
.swiper-button-next-header {
  opacity: 0;
}

.header-video:hover .swiper-button-prev-header,
.header-video:hover .swiper-button-next-header {
  opacity: 1;
  border-radius: 50%;
  background-color: rgba(var(--grey), 0.3);
  padding: 1.3rem;
}

.header-video .swiper-button-next:after,
.header-video .swiper-button-prev:after {
  --swiper-navigation-size: 25px;
}

.header-video .swiper-button-next:after {
  padding-left: 0.35rem;
}

.header-video .swiper-button-prev:after {
  padding-right: 0.35rem;
}

.header-video {
  position: relative;
}

.header-video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-video-text h1,
.header-video-text h2:first-child {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 700;
}

.header-video-text h2 {
  font-size: clamp(1.25rem, 3vw, 3rem);
  font-weight: 700 !important;
}

.header-video-text h2 .header-video-sub1 {
  font-weight: 300;
  letter-spacing: 0.12rem;
}

.header-video-text h2 .header-video-sub2 {
  font-size: clamp(1.65rem, 3.5vw, 4rem);
  letter-spacing: 0.16rem;
}

/* ### FIN HEADER VIDEO ###### */

/* ##### MAIN ###### */

.main-container {
  /* max-width: 1200px; */
  max-width: 1280px;
  margin: 0 auto;
}

/* ### CONTAINER SECTION 1 */

/* --- BUSCADOR  */
.section-1-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.section-1-label {
  color: white;
  font-style: italic;
  font-size: clamp(0.85rem, 1.5vw, 1.25rem);
  letter-spacing: 1px;
  padding: 0.85rem 1.5rem 0 1.5rem;
}

/* form */
.section-1-form {
  /* padding: 0.85rem 2rem; */
  background-color: rgb(var(--purple-blue));
  align-items: center;
  position: relative;
}

/* input div */
.section-1-input {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 10px;
  margin: 0 0 1rem 0;
}

.section-1-form img {
  max-width: 23%;
  position: absolute;
  inset: -2.5rem 0 0 0;
  margin: 0 auto;
}

#buscador {
  margin-right: 0.5rem;
  border: 0px solid transparent;
}

#buscador::placeholder {
  font-size: clamp(0.75rem, 1.2vw, 0.9rem);
}

#buscador:focus {
  border: 0px solid transparent;
  outline: none;
}

/* button */
#search-button {
  border: 0;
  background-color: white;
}

#search-button .bi {
  color: rgb(var(--blue));
  font-weight: 700;
}

/* --- FIN BUSCADOR  */

/* --- AREAS ACADEMICAS */
.section-1-title {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  padding: 1.8rem 1rem;
}

.section-1-title h3 {
  font-weight: 700;
}

.section-1-title p {
  font-size: clamp(0.85rem, 1.18vw, 1.125rem);
  padding-top: 1rem;
}

/* -- FIN AREAS ACADEMICAS  */

/* -- GALERIA IMAGENES CURSOS */

/* swiper carrusel */
.swiperCards {
  padding: 0 0 3.5rem 0 !important ;
}

.swiperCards-slider {
  width: 177px !important;
}

.section-1-flip-cards-container {
  display: none;
}

/* figure */
.section-1-gallery-image {
  position: relative;
  display: grid;
  max-width: 178px;
  height: 100%;
  width: 100%;
}

.section-1-flip-card {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.image-blur img {
  height: 100%;
  aspect-ratio: 2/1 !important;
  object-fit: cover;
}

.section-1-gallery-image > * {
  grid-area: 1 / 1;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.section-1-flip-card:nth-child(1) {
  -webkit-animation-delay: 0.3s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 0.3s;
}

.section-1-flip-card:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 0.6s;
}

.section-1-flip-card:nth-child(3) {
  -webkit-animation-delay: 0.9s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 0.9s;
}

.section-1-flip-card:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 1.2s;
}

.section-1-flip-card:nth-child(5) {
  -webkit-animation-delay: 1.5s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 1.5s;
}

.section-1-flip-card:nth-child(6) {
  -webkit-animation-delay: 1.8s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 1.8s;
}

/* Figcaption */
.section-1-text {
  display: flex;
  align-items: center;
  position: relative;
  align-self: end;
  box-sizing: border-box;
  width: 95%;
  height: 35%;
  padding: 0.6rem;
  color: white;
}

.section-1-text::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  background-color: rgb(var(--pseudo-element-color-main));
  mix-blend-mode: multiply;
  bottom: -0.5rem;
}

.gallery-img-back .section-1-text {
  width: 100% !important;
  height: 100% !important;
}

.gallery-img-back .section-1-text::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
  background-color: rgb(var(--pseudo-element-color-main));
  mix-blend-mode: multiply;
  bottom: 0;
}

.gallery-img-back .section-1-text p {
  border-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 85%;
}

.section-1-text p {
  display: inline-block;
  max-width: 95%;
  border-bottom: 2px solid;
  font-size: 0.85rem;
  text-shadow: 2px 0px 2px black;
  position: relative;
}

.gallery-img-back .section-1-text svg {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* flipcard */
.section-1-flip-card {
  width: 100%;
  max-height: 150px;
  height: 140px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.section-1-flip-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

/* --- FIN GALERIA IMAGENES CURSOS */

/* ### FIN CONTAINER SECTION 1  */

/* #### CONTAINER SECTION-2 */

.container-section-2 {
  padding: 2rem;
  margin-top: 4rem;
  background-color: rgb(var(--grey));
}

/* Title */
.container-section-2 h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}

/* Cards */
.section-2-card {
  max-width: 379px;
  margin-bottom: 2rem;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.section-2-card img {
  aspect-ratio: 2/1;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

/* animations for cards */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplicar retraso a la segunda tarjeta */
.section-2-card:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  /* Retraso para la segunda tarjeta */
  animation-delay: 0.3s;
}

/* Aplicar retraso a la tercera tarjeta */
.section-2-card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  /* Retraso para la tercera tarjeta */
  animation-delay: 0.6s;
}

.section-2-card-body {
  background-color: white;
  padding: 1rem 1rem 3rem;
}

.section-2-card-body > p:first-child {
  color: rgb(var(--main-yellow));
  font-size: clamp(0.85rem, 1vw, 1rem);
  padding-bottom: 1rem;
}

.section-2-card-body h6 {
  font-weight: 700;
  color: rgb(var(--dark-blue));
  padding-bottom: 1rem;
}

.section-2-card-body > p:last-child {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(var(--dark-blue));
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(0.85rem, 1vw, 0.95rem);
}

.container-section-2-link,
.container-section-5-link {
  display: flex;
  justify-content: center;
}

.container-section-2-link a,
.container-section-5-link a {
  font-weight: 700;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  color: rgb(var(--dark-blue));
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  z-index: 1;
}

.container-section-2-link a::before,
.container-section-5-link a::before,
.container-section-6-link a::before {
  content: "";
  width: 0;
  height: 100%;
  border-radius: 30em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--main-yellow));
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.container-section-2-link a:hover::before,
.container-section-5-link a:hover::before,
.container-section-6-link a:hover::before {
  width: 100%;
}

.container-section-2-link a:hover,
.container-section-5-link a:hover,
.container-section-6-link a:hover {
  color: white;
}

.container-section-2-link a:hover svg path,
.container-section-5-link a:hover svg path,
.container-section-6-link a:hover svg path {
  fill: rgb(var(--dark-blue));
}

/* #### FIN CONTAINER SECTION-2 */

/* #### CONTAINER SECTION-3 */
.container-section-3 {
  padding: 2rem;
  margin-top: 3rem;
}

.section-3-contain {
  margin-bottom: 2rem;
}

.contain-3-head h3 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-weight: 700;
}

.contain-3-head h5 {
  font-size: clamp(1.125rem, 1.5vw, 1.37rem);
  font-style: italic;
  margin: 1.5rem 0;
}

.contain-3-body p {
  text-align: justify;
  font-size: clamp(0.85rem, 1.2vw, 1rem);
}

/* Ocultar 3er parrafo en móvil */

.contain-3-body .desplegar {
  display: none;
}

.btnMore,
.btnLess {
  color: rgb(var(--blue));
}

.btnMore:hover,
.btnLess:hover {
  color: rgb(var(--main-yellow));
  text-decoration: underline !important;
  cursor: pointer;
}

/* Icons */
.icon-3 {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.icon-3 svg {
  flex-basis: 65px;
}

.icon-3 p {
  font-size: clamp(0.95rem, 1.2vw, 1rem);
  flex: 1;
}

.icon-3 p span {
  color: rgb(var(--main-yellow));
  font-weight: 700;
}

/* #### FIN CONTAINER SECTION-3 */

/* -- ### CONTAINER SECTION 4  */

.container-section-4 {
  margin-top: 3rem;
}

.section-4-title {
  text-align: center;
  padding: 1rem 2rem 2rem;
}

.section-4-title h3 {
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.section-4-carrusel {
  background-color: rgb(var(--footer-blue));
  width: 100%;
  max-height: 38rem;
  position: relative;
}

/* Swiper */
.mySwiper {
  width: 80%;
  padding: 3rem !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide figure {
  /* display: block; */
  width: 100%;
  display: grid;
  position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bolder;
  color: white;
}

.section-4-img > * {
  grid-area: 1/1;
}

.swiper-slide figure img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}

/* Figcaption */
.section-4-desc {
  position: relative;
  align-self: end;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  color: white;
}

.section-4-desc::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: rgb(var(--pseudo-element-color-main));
  mix-blend-mode: multiply;
  bottom: 0;
}

.section-4-desc p {
  font-size: 0.85rem;
  text-shadow: 2px 0px 2px black;
  position: relative;
}

.section-4-desc p:first-child {
  display: inline-block;
  max-width: 100%;
  padding-right: 1rem;
  border-bottom: 2px solid;
  font-size: clamp(0.85rem, 3.5vw, 1.3rem);
}

.section-4-desc p:last-child {
  padding-top: 0.5rem;
  font-size: clamp(0.75rem, 3.5vw, 1.1rem);
}

/* -- ### FIN CONTAINER SECTION 4  */

/* -- ### CONTAINER SECTION 5  */
.container-section-5 {
  padding: 2rem;
  margin-top: 3rem;
}

.container-section-5 h3 {
  text-align: center;
  font-weight: 700;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  margin: 1.5rem 0;
}

.date p {
  color: rgb(var(--main-yellow));
}

.section-5-events-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

.section-5-event {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  box-shadow: 0 5px 15px 0 #00000026;
}

.section-5-event img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.event-desc {
  align-self: flex-start;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.event-desc p {
  font-size: clamp(0.85rem, 1.2vw, 1.31rem);
  font-weight: 700;
}

.event-desc p:last-child {
  color: rgb(var(--main-yellow));
}

/* -- ### FIN CONTAINER SECTION 5  */

/* -- ### CONTAINER SECTION 6  */
.container-section-6 {
  padding: 2rem;
  background-color: rgb(var(--grey));
  margin: 3rem auto;
}

.section-6-desc {
  background-color: rgb(var(--footer-blue));
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-6-desc h3 {
  color: rgb(var(--main-yellow));
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  letter-spacing: 0.08rem;
}

.section-6-desc p {
  font-size: clamp(0.85rem, 1.2vw, 1rem);
  font-weight: 300;
  padding: 2rem 0;
}

.container-section-6-link a {
  color: rgb(var(--main-yellow));
  font-style: italic;
  text-transform: uppercase;
  font-size: 0.87rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0.5rem;
}

/* Formulario */
.section-6-formulario {
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
}

.section-6-formulario h3,
.section-6-formulario p {
  text-align: center;
}

.section-6-formulario h3 {
  font-weight: 700;
}

.section-6-formulario p {
  font-weight: 300;
}

.form-group-container {
  margin: 1.5rem 0;
}

.section-6-input {
  display: flex;
  justify-content: space-around;
  background-color: rgb(var(--grey));
  margin: 0.85rem 0;
  padding: 0.65rem;
  max-height: 40px;
}

.section-6-input input {
  margin-right: 0.5rem;
  max-width: 85%;
  font-size: clamp(0.75rem, 1.2vw, 0.9rem);
}

.section-6-input input:focus,
.section-6-input select:focus {
  border: 0px solid transparent;
  outline: none;
}

.section-6-input input,
.section-6-input select {
  border: 0px solid transparent;
  flex: 1;
  background-color: transparent;
}

.section-6-input input::placeholder,
.section-6-input select {
  font-size: clamp(0.75rem, 1.2vw, 0.9rem);
}

.section-6-select,
.section-6-select option {
  color: black;
}

.section-6-select:invalid,
.section-6-select option[value=""] {
  color: rgb(var(--dark-grey));
}

#phone {
  max-width: 65%;
}

/* -- EStilos banderas teléfono */
.input-6-phone {
  position: relative;
}

.input-6-phone input:focus {
  border: 0.1rem solid var(--main-yellow);
}

.selected-option {
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-grow: 1;
}

.selected-option div {
  display: flex;
  gap: 5px;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  min-width: 2rem;
}

.selected-option div svg:last-child {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.selected-option div.active svg:last-child {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.input-6-phone .options {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
  border: 1px solid rgb(var(--middle-grey));
  z-index: 1;
}

.input-6-phone .options.active {
  display: block;
}

.input-6-phone .options::before {
  position: absolute;
  content: "";
  left: 1rem;
  top: -1.2rem;
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-bottom-color: var(--primary);
}

input.search-box {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem;
  max-width: 100% !important;
  width: 100%;
  margin: 0 !important;
}

.input-6-phone ol {
  list-style: none;
  max-height: 23rem;
  overflow: overlay;
  border-top: 1px solid rgb(var(--middle-grey));
}

.input-6-phone ol::-webkit-scrollbar {
  width: 0.6rem;
}

.input-6-phone ol::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: 0.4rem;
}

.input-6-phone ol li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.input-6-phone ol li.hide {
  display: none;
}

.input-6-phone ol li:not(:last-child) {
  border-bottom: 0.1rem solid #eee;
}

.input-6-phone ol li:hover {
  background-color: lightcyan;
}

.input-6-phone ol li .country-name {
  margin-left: 0.4rem;
}

/* Fin Estilos banderas teléfono */

/* condiciones */
.condiciones {
  font-size: 0.8rem;
}

/* botón */
.form-btn-becas {
  border: 0;
  color: white;
  background-color: rgb(var(--main-yellow));
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: 700;
  text-transform: uppercase;
  margin: 1.5rem auto;
  width: 85%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.form-btn-becas:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid #ffffff;
  box-shadow: 4px 5px 17px -4px rgb(var(--dark-blue));
}

.form-btn-becas::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(var(--red));
  transform: skewX(45deg);
  z-index: -1;
  transition: width 600ms;
}

.btn-matricula:hover a {
  color: white;
}

.form-btn-becas:hover::before {
  width: 250%;
}

/* -- ### FIN CONTAINER SECTION 6  */

/* -- ### FIN CONTAINER SECTION 7  */
.container-section-7 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
}

.container-section-7 h3 {
  font-weight: 700;
}

/* galería imagenes instituciones */
.section-7-images {
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
}

/* cards equipo de profesores */
.section-7-cards {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
}

.section-7-card {
  display: grid;
  position: relative;
  max-width: 30rem;
}

.section-7-card > * {
  grid-area: 1/1;
}

.section-7-card img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.card-desc {
  display: flex;
  gap: 0.65rem;
  flex-direction: column;
  justify-content: end;
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1rem;
  align-self: end;
}

.card-desc::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: rgba(var(--footer-blue), 0.8);
  mix-blend-mode: multiply;
  bottom: 0;
}

.card-desc p,
.card-desc a {
  position: relative;
}

.card-desc p {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-weight: 300;
}

.card-desc p:nth-child(2) {
  font-size: clamp(0.85rem, 1.5vw, 1rem);
}

.card-desc p span {
  font-weight: 700;
}

.card-desc a,
.suscripcion-btn {
  color: white;
  background-color: rgb(var(--main-yellow));
  align-self: center;
  padding: 0.25rem 1.85rem;
  position: relative;
  overflow: hidden;
}

.card-desc a:hover,
.suscripcion-btn:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid #ffffff;
  box-shadow: 4px 5px 17px -4px rgb(var(--dark-blue));
}

.card-desc a::before,
.suscripcion-btn::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(var(--red));
  transform: skewX(45deg);
  z-index: -1;
  transition: width 600ms;
}

.card-desc a:hover::before,
.suscripcion-btn:hover::before {
  width: 200%;
}

/* form suscripcion */
.section-7-subscribe {
  display: grid;
  gap: 0.85rem;
  max-width: 1050px;
  margin: 3rem auto 0;
  padding: 1.5rem;
  background-color: rgb(var(--footer-blue));
  color: white;
}

.section-7-newsletter h3 {
  letter-spacing: 1.28px;
}

.section-7-newsletter p {
  font-size: clamp(0.85rem, 1.2vw, 1.25rem);
  font-weight: 300;
  letter-spacing: 1px;
}

.suscripcion {
  gap: 1rem;
}

.suscripcion input {
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  border: transparent;
}

.suscripcion input:focus {
  border: 2px solid rgb(var(--main-yellow));
  outline: none;
}

.suscripcion-btn {
  border: 0;
}

/* -- ### FIN CONTAINER SECTION 7  */

/* -- ### CONTAINER SECTION 8  */

.container-section-8 {
  padding: 2rem;
}

.container-section-8 h3,
.container-section-8 h4 {
  text-align: center;
  font-weight: 300;
  padding-bottom: 1rem;
  letter-spacing: 0.08rem;
}

.container-section-8 h3 span,
.container-section-8 h4 span {
  font-weight: 700;
}

.container-section-8 > :nth-child(2) {
  text-align: justify;
  padding-bottom: 2rem;
}

.container-section-8 h4 {
  color: rgb(var(--main-yellow));
}

.location-map {
  display: none;
}

/* leaflet map */

#map {
  min-height: 100%;
}

.card-map {
  max-width: 250px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgb(var(--grey), 0.95) !important;
}

.card-map-head {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 0.5rem;
}

.card-map-head img {
  object-fit: contain;
  aspect-ratio: 2/3;
  min-width: 85px;
}

.head-info p {
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.035rem;
}

.head-info p:last-child {
  font-weight: 300;
  padding-top: 0.3rem;
}

.card-map-body {
  padding: 0 0 1rem 0.5rem;
}

.map-body-contact {
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  margin-top: 0.5rem;
}

.map-body-contact:last-child {
  margin-bottom: 0.5rem;
}

.card-map-footer {
  text-align: center;
  padding-bottom: 0.8rem;
}

.card-map-footer a {
  color: white !important;
  background-color: rgb(var(--red));
  padding: 0.3rem;
  border-radius: 5px;
}

.card-map-footer a:hover {
  color: rgb(var(--dark-blue)) !important;
  background-color: rgb(var(--main-yellow));
}

/* Oificinas Acordeon card */

/* animación para rotar el icono de chevron down */
.accordion-header svg:last-child {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in;
}

.accordion-header .collapsed svg:last-child {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in;
}

/* fin animación */

.acordion-header-info {
  display: flex;
  gap: 0.5rem;
}

.acordion-card {
  max-width: 100%;
  background-color: rgb(var(--grey));
  margin: 1rem 0;
  -webkit-box-shadow: 0 5px 15px 0 #00000026 !important;
  box-shadow: 0 5px 15px 0 #00000026 !important;
}

.acordion-card-body {
  padding: 0 1rem 0.5rem;
}

.accordion-card-head {
  gap: 1rem;
}

.accordion-card-head img {
  aspect-ratio: 2/3;
}

.acordion-card-contact {
  gap: 0.5rem;
}

.accordion-head-info p {
  font-size: clamp(0.85rem, 2.3vw, 1.2rem);
}

.accordion-head-info p:nth-child(2),
.head-info p:nth-child(2) {
  color: rgb(var(--blue));
}

.acordion-card-contact p {
  font-size: clamp(0.85rem, 0.85vw, 1rem);
}

.acordion-card-contact svg {
  width: 13px;
}

.acordion-card-footer a {
  font-size: 0.85rem;
}

/* -- ### FIN CONTAINER SECTION 8  */

/* -- ### CONTAINER SECTION 9  */
.container-section-9 {
  padding: 5rem 0;
  background-color: rgb(var(--grey));
}

.container-section-9 h3 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 2rem;
}

.container-section-9 h3 span {
  font-weight: 700;
}

.section-9-cards-container {
  display: grid;
  gap: 2rem;
  padding: 0 2rem;
}

.section-9-card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px 0 #00000026;
  box-shadow: 0 5px 15px 0 #00000026;
  padding: 0.85rem;
  background-color: white;
}

.section-9-card-desc {
  max-width: 70%;
}

.section-9-card-desc h5 {
  font-weight: 700;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.section-9-card-desc p {
  font-size: clamp(0.85rem, 1.2vw, 1rem);
  color: rgb(var(--main-yellow));
}

.section-9-card-desc p:last-child {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(var(--dark-blue));
  padding-top: 1rem;
}

.section-9-card::after {
  content: "";
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 10% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 10% 100%);
  background-color: rgb(var(--footer-blue));
}

.section-9-card-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  max-width: 30%;
}

.section-9-card-icon a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: rgb(var(--main-yellow));
  font-size: clamp(0.85rem, 1.2vw, 1rem);
}

.section-9-card-icon a:hover {
  color: white;
  text-decoration: underline !important;
}

/* -- ### FIN CONTAINER SECTION 9  */

/* ##### FIN MAIN ###### */

/* --- MEDIA QUERIES */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 375px) {
  /* -- ###  CONTAINER SECTION 6  */
  .section-6-input input,
  #phone {
    max-width: 100%;
  }

  /* -- ### FIN CONTAINER SECTION 6  */
}

@media screen and (min-width: 425px) {
  /* -- ### CONTAINER SECTION 4  */
  .section-4-desc {
    padding: 1rem;
    height: 40%;
  }

  /* -- ### FIN CONTAINER SECTION 4  */
}
