  /* #### FIN HEADER */
  
  /* #### CONTAINER SECTION-3 */
  .section-3-inter {
    padding: 2rem;
  }
  
  .data-title,
  .data-body {
    border-bottom: 1px solid rgb(var(--middle-grey));
    padding: 0 0 1rem 0;
    margin: 0 0 1.5rem 0;
  }
  
  .data-title p {
    font-size: clamp(1.5rem, 1.2vw, 1.8rem);
    font-weight: 300;
  }
  
  .data-title h3 {
    font-weight: 700;
    font-size: clamp(1.8rem, 1vw, 2rem);
  }

  .data-body .body-info .info-detail {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 0.85rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .data-body .body-info .info-detail p {
    font-size: clamp(0.85rem, 1vw, 0.95rem);
  }
  
  .data-footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgb(var(--middle-grey));
    padding: 0 0 1rem 0;
    margin: 0 0 1.5rem 0;
  }
  
  .data-footer img {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    max-width: 115px;
  }
  
  .footer-info h5 {
    color: rgb(var(--blue));
  }
  
  .footer-info p {
    font-size: clamp(0.85rem, 1vw, 0.95rem);
  }
  
  .inter-location img {
    object-fit: cover;
    aspect-ratio: 4/1;
    width: 100%;
  }
  
  /* #### FIN CONTAINER SECTION-3 */
  
  
  
  /* ------------- MEDIAS QUERIES ------------------ */
  
  @media screen and (min-width: 375px) {
    /* --### SECTION 3 ### */
    .data-footer {
      grid-template-columns: 150px 1fr;
    }
  
    /* --### FIN SECTION 3 ### */
  }
  
  @media only screen and (min-width: 768px) {
    /* -- ### CONTAINER SECTION 3  */
    .inter-data,
    .inter-location {
      max-width: 500px;
      margin: 0 auto;
    }

    .data-body .body-info {
      display: flex;
      gap: 2rem;
    }
    /* -- ### FIN CONTAINER SECTION 3  */
  }
  
  @media only screen and (min-width: 1024px) {
    /* -- ### CONTAINER SECTION 3  */
  
    .section-3-inter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-width: 1120px;
      margin: 0 auto;
    }

    .inter-data, .inter-location {
      margin:unset;
      max-width: 100%;
    }

    .footer-info {
      justify-self: start;
    }
  
    .inter-location {
      display: flex;
      flex-direction: column;
      padding: 0 0 1.5rem 1rem;
      max-width: 100%;
    }
  
    .inter-map {
      flex: 1;
    }
  
    /* -- ### FIN CONTAINER SECTION 3  */
  }
  